{% extends 'base.html' %}
{% block content %}
    {% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    <h1 > Listado de clientes  </h1>
    <a href="/clientes/nuevo" class="btn btn-success">Agregar</a>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{cliente.id}}</td>
                <td>{{cliente.username}}</td>
                <td>{{cliente.email}}</td>
                <td>
                    <a href="/clientes/editar/{{cliente.id}}" class="btn btn-success">Editar</a>
                    <a href="/clientes/eliminar/{{cliente.id}}" class="btn btn-success">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}


